@model Assessment6.Models.Dish

@{
    ViewBag.Title = "Dish_Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-header container">
<h2>Dish Confirmation</h2>

<p>Thank you for bringing @Model.DishName to our party, @Model.GuestName!</p>
<p>Description: @Model.Description</p>
<p>Category: @Model.Category</p>
</div>

