@{
    ViewBag.Title = "Home Page";
}

<div class="table-header container">
    <br />
    <br />
    <div class="jumbotron jumbotron-custom parallax">
        <h1>Party time</h1>
        <p class="lead">Let's boogie</p>
    </div>

    <div class="row">
        <div class="col-md-5 box">
            <h2>RSVP</h2>
            <p>Let us know if you can come to the shin-dig</p>
            <p><a class="btn btn-default" href="/Home/RSVP">RSVP</a></p>
        </div>
        <div class="col-md-5 box pull-right">
            <h2>View Dishes</h2>
            <p>Check out what noms we'll be serving, or sign up to bring a dish</p>
            <p><a class="btn btn-default" href="/Home/Dish">View Dishes</a></p>
        </div>
    </div>
</div>
