@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Party time</h1>
    <p class="lead">Let's boogie</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>RSVP</h2>
        <p>Let us know if you can come to the shin-dig</p>
        <p><a class="btn btn-default" href="/Home/RSVP">RSVP</a></p>
    </div>
    <div class="col-md-6">
        <h2>Bring a Dish</h2>
        <p>Tell us if you're going to bring some noms</p>
        <p><a class="btn btn-default" href="/Home/Dish">Dish Info</a></p>
    </div>
</div>