@model IEnumerable<Assessment6.Models.APICharacter>

<p>@ViewBag.RawData</p>

<br />
<br />

<table class="table">

    <tr>
        <th>Name</th>
        <th>Allegiance</th>
        <th>Book</th>
    </tr>
    @foreach (var character in Model)
    {
        <tr>
            <td>@character.Name</td>
            <td>@character.Allegiance</td>
            <td>@character.Book</td>
        </tr>
    }
</table>

