body {
    padding-bottom: 20px;
    background-image: url('../Images/party.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 90%;
}

/* Show which fields are required */
.form-group.required .control-label:after {
    content: "*";
    color: red;
}

/*.itemImage {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}*/

.jumbotron-custom {
    background-image: url('../Images/balloons.jpg') !important;
    background-size: cover;
    margin-top: 10px;
}

.parallax {
    /* The image used */
    background-image: url('../Images/balloons.jpg') !important;
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

#dishname, #description, #first, #last, #date, #plusOne, #plusOneInfo, #farewell{
    display: none;
}

.hide {
    display: none;
}

.table-header {
    background-color: #B5CAC9;
    padding-bottom: 20px;
}

.table-row {
    background-color: #D0DBDB;
}

.box {
    padding: 5px;
    border-radius: 4px;
    background-color: #D0DBDB;
    margin: 10px;
}



